<!DOCTYPE html>
<html lang="eng" xmlns="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <title>Spring Framework Guru</title>
    </head>
<body>
    <h1>Authors List</h1>
    <table>
        <tr>
            <td>ID</td>
            <td>First Name</td>
            <td>Last Name</td>
        </tr>
        <tr th:each="author : ${authors}">
            <td th:text="${author.id}">321</td>
            <td th:text="${author.firstName}">Spring in action</td>
            <td th:text="${author.lastName}">Wrox</td>
        </tr>
    </table>
</body>

</html>